# This is a basic workflow to help you get started with Actions

name: extra branch (Docker build & push)

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ extra ]
    paths:
    - 'src/**'
    - 'Dockerfile'
    - 'package**.json'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - name: Build and push Docker images
        # You may pin to the exact commit or the version.
        # uses: docker/build-push-action@92e71463491f2d026a477188b8ad3a0fdd9d672c
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: # optional
          repository: demonicmushy/decoder_agent
          tags: extra
          # Automatically tags the built image with the git reference as per the readme
          tag_with_ref: # optional
          # Automatically tags the built image with the git short SHA as per the readme
          tag_with_sha: # optional
          # Path to the build context
          path: .
          # Path to the Dockerfile (Default is '{path}/Dockerfile')
          dockerfile: # optional
          # Sets the target stage to build
          target: # optional
          # Always attempt to pull a newer version of the image
          always_pull: # optional
          # Comma-delimited list of build-time variables
          build_args: # optional
          # Comma-delimited list of images to consider as cache sources
          cache_froms: # optional
          # Comma-delimited list of labels to add to the built image
          labels: # optional
          # Adds labels with git repository information to the built image
          add_git_labels: # optional
          # Whether to push the image
          push: true
